<footer class="footer bg-gray-200 relative pt-1 border-b-2 mt-5">
    <div class="container mx-auto px-6" style=>
        <div class="mt-5 flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-6">
              {% comment %} <p class="text-md text-gray-900 font-bold mb-5"> {% endcomment %}

                   <h1> <a style="color:#ff4c00"> <b><i> " प्रज्ञानम् ब्रह्म "   </i> <b>😃</a>  </style> <h1>
                    <style>
                    h1 {
                       font-family: "Sofia", sans-serif;
                       font-size: 25px;
                       text-shadow: 0.5px ;
                     }

                    body {
                    font-family: Space Mono', monospace;
                }
                    
                    </style>
                </p>
            </div>
        </div>
    </div>
</footer>